<router-outlet></router-outlet>

<nav>
  <div class="reduce-nav">
    <div class="p1">
      <a (click)="clickMenu()" class="hamburger-menu" rel="noopener noreferrer">
        <fa-icon [classes]="['icon-nav']" [icon]="openMenu? faChevronDown:faBars"></fa-icon>
      </a>
    </div>
    <div class="p2">
      <a href="#" class="alogo" rel="noopener noreferrer">
        <img src="assets/icons/logo.svg" alt="logo" />
      </a>
      <p>LOGOHERE</p>
    </div>
    <div class="p3">
      <a href="#" class="notification" rel="noopener noreferrer">
        <fa-icon [classes]="['icon-nav']" [icon]="faBell"></fa-icon>
      </a>
    </div>
  </div>
  <ul class="menu-ul " [ngClass]="{'display-none': !openMenu}">
    <!-- display-none -->
    <li>
      <input class="input-c  input-search" placeholder="search" type="text">
    </li>
    <li class="active">HOME</li>
    <li>ARTICLES</li>
    <li>AUDIO</li>
  </ul>
</nav>



<div id="contenido">

  <div class="clearfix"></div>
  <section class="main-message">
    <h2>Join us today</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </section>

  <section class="iconos-seccion">
    <div class="icono-item">
      <img src="assets/icons/reloj.svg" alt="icono" srcset="" />
      <h4>Spend time smart</h4>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="icono-item">
      <img src="assets/icons/microfono.svg" alt="icono" srcset="" />
      <h4>Audio podcast</h4>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="icono-item">
      <img src="assets/icons/chart.svg" alt="icono" srcset="" />
      <h4>Line-chart</h4>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="icono-item">
      <img src="assets/icons/diamante.svg" alt="icono" srcset="" />
      <h4>Quality</h4>
      <p>Lorem ipsum dolor sit amet,</p>
    </div>
  </section>

  <section class="seccion-contacto">
    <form action="#" class="fondo-blanco fondo-transparente-tablet">
      <div class="btn-contacto-session">
        <a href="#" class="btn fondo-blanco">
          Sign up
        </a>
        <a href="#" class="btn fondo-purpura">
          Login
        </a>
      </div>
      <div class="btn-contacto-genero-session">
        <a href="#" class="btn cuadro fondo-purpura man-icon"> </a>
        <a href="#" class="btn cuadro fondo-blanco woman-icon"> </a>
      </div>

      <div class="inputs-formulario-seccion">
        <input
          class="input-person"
          type="text"
          name="username"
          id="iusername"
          placeholder="Username"
        />
        <input
          class="input-person"
          type="email"
          name="mail"
          id="imail"
          placeholder="Mail"
        />
        <input
          class="input-chevron"
          type="text"
          name="qa"
          id="iqa"
          placeholder="What Are Your Interests?"
        />

        <div class="container-submit">
          <input type="submit" name="submit" id="btnsubmit" value="+" />
        </div>
      </div>
    </form>
  </section>

  <footer class="ocultar-tablet">
    Copyright 2019 All Rights Reserved
  </footer>
</div>
